{% extends "base.html.twig" %}

{% block body %}
    <h2 class="text-center">
        {{ 'about.text' | trans }}
    </h2>

    <p></p>
    <h2 class="text-center">
        <a href="https://github.com/SHSamer">Github</a>
    </h2>
{% endblock %}